{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block head-extra %}
{% image page.image fill-1920x600 as image %}
<div class="jumbotron jumbotron-fluid" style="background-image:url('{{ image.url }}')">
  <div class="container" style="padding-bottom: 4em; padding-top: 4em">
    <h1 class="display-4">{{ page.introduction }}</h1>
    {% if page.introduction %}
        <p class="introduction">
            {{ page.introduction }}
        </p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        {{ page.body }}
        <div class="row project-list">
        {% for project in projects %}
            <div class="col-xs-12 col-md-6 project-list-item">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 image">
                        <a href="{% pageurl project %}">
                            {% image project.image fill-180x180-c100 as image %}
                            <img src="{{ image.url }}" width="{{ image.width }}"
                                height="{{ image.height }}" alt="{{ image.alt }}" class="" />
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-7">
                        <a href="{% pageurl project %}">
                            <h2>{{ project.title }}</h2>
                        </a>
                        <ul class="project-meta">
                        {% if project.project_type %}
                            <li><span>Type</span> {{ project.project_type }}</li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    {% if projects.paginator.count > 1 %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                {% include "includes/pagination.html" with subpages=projects %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
